<div>
  Zalogowałeś się do panelu administracyjnego.<br/>
  <%= link_to display_user("os1"), set_owner_url(:owner => 'os1') %><br/>
  <%= link_to display_user("os2"), set_owner_url(:owner => 'os2') %><br/>
  <%= link_to display_user("os3"), set_owner_url(:owner => 'os3') %><br/>
</div>
