<div class="film-holder">
	<%= link_to(content_tag(:span, "Wojciech") + image_tag('wojciech.png'), auth_gallery_url(:section => SECTION[0]), :class => "w1") %>
	<%= link_to(content_tag(:span, "Maciej") +  image_tag('maciej.png'), auth_gallery_url(:section => SECTION[1])) %>
	<%= link_to(content_tag(:span, "Filip") +  image_tag('filip.png'), auth_gallery_url(:section => SECTION[2])) %>
</div>
