<div class="fields">
  <%= f.label :photo, "Plik" %>
  <%= f.file_field :photo %>
  <%= link_to_remove_fields "usuń", f %><br />
  <% if f.object.photo.present? %>
    <br /><%= (image_tag f.object.photo.thumb.url) %><br />
  <% end %>
  --------------------------------------<br/>
</div>
