<h1>Nowy Album <%= (disp = show_gal_type(session[:section], session[:type])).present? ? '- '+disp : '' %></h1>

<%= render 'form' %>
<div class="clearspace"></div>
<%= link_to 'Anuluj', galleries_path %>
<div class="clearspace"></div>
