<div class="gallery-holder">  
  <div class="left-gal">    
    <div class="category-holder">
      <p><%= t('main.main_category') %>:</p>

      <ul>
	<% @categories.each do |c| %>
	  <li>
            <%= link_to show_category(c), auth_gallery_url(:section => params[:section], :cat => c) %>
	  </li>
	<% end %>
      </ul>
    </div>
  </div>
  <div class="right-gal">
    <div class="right-col">
     <% if params[:section] == SECTION[0] %>
    <div class="clearspace"></div>
		<%= image_tag('main-wojciech.png') %>
	<% end %>
    </div>
  </div>
</div>
