<div id="tabs">
   <ul>
     <li><a href="#tab-1">Recenzje</a></li>
     <li><a href="#tab-2">Kontakt</a></li>
   </ul>
   <div id="tab-1">
     <h3>This is a really simple tabbed interface</h3>
     <%= raw @review.content if @review.present? %>
   </div>
   <div id="tab-2">
     <h3>Tab 2</h3>
     <%= raw @contact.content if @contact.present? %>
   </div>
   
</div>

