<div class="gallery-holder">
<div class="clearspace"></div>
  <% @vids.each do |vid| %>
    <p class="vid-title"><%= vid.title %></p>
    <p class="vid-desc"><%= vid.description %></p><br/>
    <div class="video-holder"><%= raw vid.link_to_vid %>
		<br/><br/><div class="clear seperator"></div>
    </div>
    <div class="clearspace"></div>

  <% end %>
  
</div>
